.pro-container{
    background-color: #DBE2EF;
    margin: 0;
    padding: 2rem;
    padding-top: 5rem;
}
.pro-container h1{
    text-align: center;
}
.pro-box{
    max-width: 23rem;
    min-width: 15rem;
    border: 2px solid #112D4E;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem
}
.pro-boxHead{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pro-Btn {
    height: 3.5rem;
    width: auto; 
    padding: 0.2rem 1rem;
    color: #112D4E;
    background-color: aliceblue;
    outline: none;
    border: 1px solid #DBE2EF; /* Fix border style */
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
}
.pro-Btn:hover {
    color: #DBE2EF;
    background-color: #112D4E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for hover */
}
@media (max-width: 380px) {
.pro-container{
    padding-left: 0;
    padding-right: 0;
}
}