.top{
    background-color: #DBE2EF;
}
.image-slider {
  position: relative;
  width: 40rem;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 4rem;
  /* transition:2s ease-in all; */
}

.slide-image {
  width: 40rem;
  display: flex;
  /* transition:2s ease-in all; */
}

.img-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
@media (max-width: 430px) {
    .slide-image {
        width: 18rem;
    }
    .image-slider {
        width: 18rem;
    }
}
@media (max-width: 380px) {
    .slide-image {
        width: 15rem;
    }
    .image-slider {
        width: 15rem;
    }
}
@media (max-width: 325px) {
    .slide-image {
        width: 12rem;
    }
    .image-slider {
        width: 12rem;
    }
}